{% extends "base.html" %}
  {% block title %}Об авторе проекта{% endblock %}
  {% block content %}
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <p>Киреев Дмитрий 
                    Студент 33-ой когорты
                    курса "PYTHON разработчик"
                    Яндекс.Практикума
                  </p>
                  <p>профиль на <a href="https://github.com/Dmitriy-kir" title="https://github.com/Dmitriy-kir" target="_blank">GitHub</a></p>
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>Приветствую всех посетителей моего проекта. </p>
            <p>Не судите строго</p>
          </div>                    
        </div>                
      </div>            
    </div>        
  {% endblock %}